name: Auth Service - CI Pipeline

on:
  push:
    branches:
      - develop
      - main
      - 'feature/**'
    paths:
      - 'backend/auth-service/**'
      - '.github/workflows/auth-service-ci.yml'
      - '.github/workflows/lint.yml'
      - '.github/workflows/tetst.yml'
      - '.github/workflows/build.yml'
  pull_request:
    branches:
      - develop
      - main
    paths:
      - 'backend/auth-service/**'

jobs:
  # Étape 1 : Lint
  lint:
    uses: ./.github/workflows/lint.yml
    with:
      service-path: backend/auth-service

  # Étape 2 : Tests
  tests:
    uses: ./.github/workflows/tetst.yml
    needs: lint
    with:
      service-path: backend/auth-service

  # Étape 3 : Build 
  # build:
  #   uses: ./.github/workflows/build.yml
  #   needs: tests
  #   with:
  #     service-path: backend/auth-service
  #     service-name: auth-service
